body {
	background-color: #999595;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#title {
	color: black;
}

#size {
	margin-bottom: 30px;
}

#container {
	display: flex;
	flex-direction: row-reverse;
}

#buttonContainer {
	display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

#grid {
	border: 2px solid black;
	background-color: #646464;
	display: flex;
	flex-wrap: wrap;
	width: 800px;
}

.gridSquare {
	height: 48px;
	width: 48px;
	border: 1px solid rgb(155, 155, 155);
}
button {
	background-color: white;
	font-size: 30px;
	border-radius: 5px;
}